.main {
  grid-template-columns: 26.25rem 1fr;
  grid-template-rows: 1fr auto;

  grid-template-areas:
    'navbar content'
    'player player';
}

.player {
  grid-area: player;
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-template-rows: 1fr auto;

  grid-area: content;
}
