.main {
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 1fr auto;

  grid-template-areas:
    'navbar content'
    'player player';
}

.player {
  grid-area: player;
}

.navbar {
  grid-area: navbar;
}

.content {
  grid-area: content;
}

@screen lg {
  .main {
    grid-template-columns: 26.25rem 1fr;
  }
}
